---
import { Icon } from "astro-icon/components";
import Socials from "../Socials.astro";
import { MAIN_NAVIGATION } from "./Header.astro";
---

<footer class="w-full pb-4 mt-8">
    <hr />
    <div class="py-4 w-max mx-auto">
        <Socials />
    </div>
    <nav class="mx-auto py-8 max-w-xl px-8 text-center">
        <p class="eyebrow mb-3">RSS Feeds</p>
        <span class="inline-flex flex-wrap justify-center gap-2">
            {
                [
                    ...MAIN_NAVIGATION,
                    {
                        label: "All",
                        url: "",
                    },
                ].map((n) => (
                    <a
                        class="btn font-mono uppercase inline-flex text-orange-500 dark:text-orange-400 items-center gap-2 text-xs"
                        href={new URL(`${n.url}/rss.xml`, Astro.site)}
                        title={`${n.label} RSS feed`}
                    >
                        <Icon class="size-3.5 " name="ph:rss" />
                        <span>{n.label}</span>
                    </a>
                ))
            }
        </span>
    </nav>
</footer>
