---
interface Props {
    heading: string;
    description?: string;
}

const { heading, description } = Astro.props;
---

<section class="flex items-start justify-between">
    <h1 class="mb-0 pb-0">{heading}</h1>
</section>
{description && <p class="text-xl font-light">{description}</p>}
